ErrorDocument 400 https://damcode2.herokuapp.com/
ErrorDocument 401 https://damcode2.herokuapp.com/
ErrorDocument 402 https://damcode2.herokuapp.com/
ErrorDocument 403 https://damcode2.herokuapp.com/
ErrorDocument 404 https://damcode2.herokuapp.com/
ErrorDocument 500 https://damcode2.herokuapp.com/

Options +FollowSymLinks

php_value upload_max_filesize 10K

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

DirectoryIndex index.php

Options All -Indexes

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>


# Security Headers
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set X-Content-Type-Options "nosniff"
	Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
	# Header set Content-Security-Policy ...
	Header set Referrer-Policy "same-origin"
	Header set Feature-Policy "geolocation 'self'; vibrate 'none'"
</IfModule>

