ErrorDocument 403 http://damcode2.herokuapp.com/403
ErrorDocument 404 http://damcode2.herokuapp.com/404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

Options All -Indexes

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

DirectoryIndex index.php
