ErrorDocument 403 http://damcode2.herokuapp.com/403.php
ErrorDocument 404 http://damcode2.herokuapp.com/404.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

Options All -Indexes